<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Reset</title>
</head>

<body>

    <h1>Reset your password here!</h1>

    <p>
        Enter your email address .
    </p>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Send reset link
        </button>
    </form>

</body>
</html>
