<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
</head>

<body>
    {% if token_valid %}

        <h1>
            Choose a new password
        </h1>

        <p>
            Your reset link is valid.
        </p>

    {% else %}

        <h1>
            Reset link invalid or expired
        </h1>

        <p>
            This password reset link is invalid
            or expired.
        </p>

    {% endif %}


</body>
</html>